#
# Copyright 2022 NXP
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_MIMX8MM_EVK_A53
	bool "NXP i.MX8M Mini A53 core EVK board"
	depends on SOC_MIMX8MM_A53
	select SOC_PART_NUMBER_MIMX8MM6DVTLZ
